/***
* custom css for scrolling nav to different sections within the site
 ***/

body {
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

.welcome-section {

}

.about-section {

}

.portfolio-section {

}

.writing-section {

}

.contact-section {

}

